<div class="main" id="main">
  <div class="bg-transparent">
    <p-breadcrumb class="w-100" [model]="items" [style]="{'background': 'transparent'}">
      <ng-template #item let-item>
        <ng-container *ngIf="item.route; else elseBlock">
          <a [routerLink]="item.route" class="p-breadcrumb-item-link">
            <i [ngClass]="[item.icon ? item.icon : '']"></i>
            <span class="text-success font-semibold" style="font-size: 14px">{{ item.label }}</span>
          </a>
        </ng-container>
        <ng-template #elseBlock>
          <a [href]="item.url">
            <span style="font-size: 14px; color: #6c757d">{{ item.label }}</span>
          </a>
        </ng-template>
      </ng-template>
    </p-breadcrumb>
  </div>
  <div class="products-section">
    <p-toast />
    <p-toolbar class="mb-6">
      <ng-template #start>
        <p-button label="Thêm mới" class="me-2" (onClick)="navigateNewProductPage()" [style]="{'font-size': '14px'}">
          <i class="pi pi-plus" style="font-size: 14px"></i>
        </p-button>
        <p-button severity="danger" label="Xóa" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length" [style]="{'font-size': '14px'}">
          <i class="pi pi-trash" style="font-size: 14px"></i>
        </p-button>
      </ng-template>

      <ng-template #end>
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Nhập file" chooseLabel="Nhập file" auto customUpload class="me-2 d-inline-block" [chooseButtonProps]="{ severity: 'secondary' }" [style]="{'font-size': '14px'}" />
        <p-button label="Xuất file" severity="secondary" (onClick)="exportCSV($event)" [style]="{'font-size': '14px'}">
          <i class="pi pi-upload"></i>
        </p-button>
      </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="products"
      [rows]="10"
      [columns]="cols"
      [paginator]="false"
      [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
      [tableStyle]="{ 'min-width': '75rem' }"
      [(selection)]="selectedProducts"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template #caption>
        <div class="d-flex align-items-center justify-content-between">
          <div class="m-0 fs-6 fw-bold">Manage Products</div>
          <p-iconfield>
            <p-inputicon class="pi pi-search" />
            <input class="search-box" pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search..." />
          </p-iconfield>
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox />
          </th>
          <th style="min-width: 5rem">Mã</th>
          <th pSortableColumn="name" style="min-width:16rem">
            Tên sản phẩm
            <p-sortIcon field="name" />
          </th>
          <th style="min-width: 8rem">Hình ảnh</th>
          <th pSortableColumn="price" style="min-width: 12rem">
            Giá sản phẩm
            <p-sortIcon field="price" />
          </th>
          <th pSortableColumn="category" style="min-width:10rem">
            Thể loại
            <p-sortIcon field="category" />
          </th>
          <th pSortableColumn="rating" style="min-width: 12rem">
            Đánh giá
            <p-sortIcon field="rating" />
          </th>
          <th pSortableColumn="inventoryStatus" style="min-width: 10rem">
            Trạng thái
            <p-sortIcon field="inventoryStatus" />
          </th>
          <th style="min-width: 12rem"></th>
        </tr>
      </ng-template>
      <ng-template #body let-product>
        <tr>
          <td style="width: 3rem">
            <p-tableCheckbox [value]="product" />
          </td>
          <td style="min-width: 4rem">{{ product.id }}</td>
          <td style="min-width: 16rem">{{ product.name }}</td>
          <td>
            <img [src]="product.image" [alt]="product.name" style="width: 50px" />
          </td>
          <td>{{ product.price | currency: 'VND' }}</td>
          <td>{{ product.categoryName }}</td>
          <td>
            <p-rating [(ngModel)]="product.evaluate" [readonly]="true"/>
          </td>
          <td>
            <p-tag [value]="getStatus(product.quantity)" [severity]="getSeverity(product.quantity)" />
          </td>
          <td>
            <p-button class="me-2" icon="pi pi-pencil" [rounded]="true" [outlined]="true" (click)="editProduct(product)">
              <i class="pi pi-pencil"></i>
            </p-button>
            <p-button severity="danger" icon="pi pi-trash" [rounded]="true" [outlined]="true" (click)="deleteProduct(product)">
              <i class="pi pi-trash"></i>
            </p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <div class="d-flex align-items-center justify-content-center">
      <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 20, 30]" />
    </div>

    <p-dialog [(visible)]="productDialog" [style]="{ width: '800px' }" header="Product Details" [modal]="true">
      <ng-template #content>
        <div class="d-flex flex-column gap-5 dialog">
          <img [src]="product.image" [alt]="product.name" class="d-block m-auto pb-4" *ngIf="product.image" />
          <div>
            <label for="name" class="d-block fw-bold mb-3">Name</label>
            <input class="w-100" type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus fluid />
            <small class="text-danger" *ngIf="submitted && !product.name">Name is required.</small>
          </div>
          <div>
            <label for="description" class="d-block fw-bold mb-3">Description</label>
            <textarea class="w-100" id="description" pTextarea [(ngModel)]="product.description" required rows="3" cols="20" fluid></textarea>
          </div>

          <div>
            <label for="inventoryStatus" class="d-block fw-bold mb-3">Inventory Status</label>
            <p-select [(ngModel)]="product.quantity" inputId="inventoryStatus" id="inventoryStatus" [options]="[10, 20, 30]" optionLabel="label" placeholder="Select a Status" fluid />
          </div>

          <div>
            <span class="d-block fw-bold mb-4">Category</span>
            <div class="row g-4">
              <div class="col-md-6 d-flex align-items-center gap-2">
                <p-radiobutton id="category1" name="category" value="Accessories" [(ngModel)]="product.categoryName" />
                <label for="category1">Accessories</label>
              </div>
              <div class="col-md-6 d-flex align-items-center gap-2">
                <p-radiobutton id="category2" name="category" value="Clothing" [(ngModel)]="product.categoryName" />
                <label for="category2">Clothing</label>
              </div>
              <div class="col-md-6 d-flex align-items-center gap-2">
                <p-radiobutton id="category3" name="category" value="Electronics" [(ngModel)]="product.categoryName" />
                <label for="category3">Electronics</label>
              </div>
              <div class="col-md-6 d-flex align-items-center gap-2">
                <p-radiobutton id="category4" name="category" value="Fitness" [(ngModel)]="product.categoryName" />
                <label for="category4">Fitness</label>
              </div>
            </div>
          </div>

          <div class="row g-4">
            <div class="col-md-6">
              <label for="price" class="form-label font-weight-bold mb-3">Price</label>
              <p-inputnumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US" fluid />
            </div>
            <div class="col-md-6">
              <label for="quantity" class="form-label font-weight-bold mb-3">Quantity</label>
              <p-inputnumber id="quantity" [(ngModel)]="product.quantity" fluid />
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveProduct()" />
      </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '800px' }" />
  </div>
</div>
