<aside id="sidebar" class="sidebar" th:fragment="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-heading">Dashboard</li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/admin">
        <i class="bi bi-grid"></i>
        <span>E-Commerce</span>
      </a>
    </li>

    <li class="nav-heading">Quản lý</li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#products-mng" data-bs-toggle="collapse" href="#">
        <i class="bi bi-book-half"></i><span>Sản phẩm</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="products-mng" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="products">
            <i class="pi pi-list" style="font-size: 0.9rem"></i><span>Danh sách</span>
          </a>
        </li>
        <li>
          <a routerLink="products/add">
            <i class="pi pi-plus" style="font-size: 0.9rem"></i><span>Thêm mới</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="pi pi-send" style="font-size: 0.9rem"></i><span>Chi tiết</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#orders-mng" data-bs-toggle="collapse" href="#">
        <i class="bi bi-box-seam"></i><span>Đơn hàng</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="orders-mng" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a routerLink="customers">
            <i class="pi pi-list" style="font-size: 0.9rem"></i><span>Danh sách</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="pi pi-send" style="font-size: 0.9rem"></i><span>Chi tiết</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#blogs-mng" data-bs-toggle="collapse" href="#">
        <i class="bi bi-pencil-square"></i><span>Bài viết</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="blogs-mng" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="#">
            <i class="pi pi-list" style="font-size: 0.9rem"></i><span>Danh sách</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="pi pi-plus" style="font-size: 0.9rem"></i><span>Thêm mới</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="pi pi-send" style="font-size: 0.9rem"></i><span>Chi tiết</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#customers-mng" data-bs-toggle="collapse" href="#">
        <i class="bi bi-person-bounding-box"></i><span>Khách hàng</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="customers-mng" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="#">
            <i class="pi pi-list" style="font-size: 0.9rem"></i><span>Danh sách</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="pi pi-plus" style="font-size: 0.9rem"></i><span>Thêm mới</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="pi pi-send" style="font-size: 0.9rem"></i><span>Chi tiết</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" th:href="@{/admin/get-profile}">
        <i class="bi bi-person"></i>
        <span>Hồ sơ</span>
      </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-faq.html">
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      </a>
    </li><!-- End F.A.Q Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-contact.html">
        <i class="bi bi-envelope"></i>
        <span>Liên hệ</span>
      </a>
    </li><!-- End Contact Page Nav -->


  </ul>
</aside><!-- End Sidebar-->
