.main{
  position: fixed;
  top: 60px;
  left: 250px;
  bottom: 0;
  width: calc(100% - 250px);
  z-index: 996;
  transition: all 0.3s;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  background-color: #F1F5F9;
  border-top: 1px solid #e2e8f0;
  overflow: auto;
  height: calc(100vh - 5rem);
  padding: 2rem;
  border-top-left-radius: 30px;
  box-shadow: inset 0 3px 4px #0000001a;
}

.main .card-das{
  background: #FFFFFF;
  margin-bottom: 1rem;
  box-shadow: 0 3px 4px #0000001a, 0 24px 36px #0000000a;
  border-radius: 14px;
}
