<main class="main" id="main">
  <div class="container">
    <div class="row">
      <div class="left-content col-5">
        <div class="card">
          <p-galleria [value]="images" [autoPlay]="true" [circular]="true" [responsiveOptions]="responsiveOptions" [numVisible]="5" [containerStyle]="{ 'max-width': '640px' }">
            <ng-template #item let-item>
              <img [src]="item.itemImageSrc" style="width: 100%; display: block" />
            </ng-template>
            <ng-template #thumbnail let-item>
              <img [src]="item.thumbnailImageSrc" style="display: block" />
            </ng-template>
          </p-galleria>
        </div>
      </div>
      <div class="right-content col-7">
        <div class="title fs-3 fw-bold mb-2"> {{ product?.name }} </div>
        <div class="evalue d-flex align-items-center mb-2">
          <p-rating [ngModel]="product?.evaluate" [stars]="5" />
          4.4 (2131 danh gia)
        </div>

        <div class="info d-flex justify-content-between align-items-center">
          <div class="card-info">
            <div class=""> Thể loại </div>
            <div class="fw-bold "> {{ product?.category?.name }} </div>
          </div>
          <div class="card-info">
            <div class=""> Tác giả </div>
            <div class="fw-bold "> {{ product?.author }} </div>
          </div>
          <div class="card-info">
            <div class=""> Nhà sản xuất</div>
            <div class="fw-bold "> {{ product?.publisher }} </div>
          </div>
          <div class="card-info">
            <div class=""> Ngôn ngữ</div>
            <div class="fw-bold "> {{ product?.language }} </div>
          </div>
        </div>
        <hr>
        <div class="price mb-4 d-flex align-items-center">
          <span class="child-title"> Giá bán </span>
          <span class="promotional-price me-2 text-success fs-4 fw-bold"> {{ product?.price }} </span>
          <span class="origin-price me-2 text-decoration-line-through text-danger" > {{ product?.promotionalPrice }} </span>
          <span class="discount"> {{ product?.discount }}% </span>
        </div>
        <div class="box-quantity mb-4 d-flex align-items-center">
          <span class="child-title"> Số lượng </span>
          <button class="downQuantity" (click)="downQuantity()"><i class="bi bi-dash-lg"></i></button>
          <input class="quantity" [value]="quantity" />
          <button class="upQuantity" (click)="upQuantity()"><i class="bi bi-plus-lg"></i></button>
        </div>
        <div class="mb-4 d-flex align-items-center">
          <span class="child-title"> Ưu đãi </span>
          <div> Hien chua co uu dai nao duoc cap dung cho san pham nay</div>
        </div>
        <div class="button d-flex align-items-center mb-4">
          <button class="buy-now-btn me-2"><i class="bi bi-coin"></i> Mua ngay</button>
          <button class="add-in-cart-btn me-2" (click)="addIntoCart()"><i class="pi pi-cart-plus"></i> Thêm sán phẩm vào giỏ</button>
          <div><i class="bi bi-chat-dots"></i></div>
        </div>
        <div class="card">
          <p-tabs value="0" scrollable>
            <p-tablist>
              <ng-template #previcon>
                <i class="pi pi-minus"></i>
              </ng-template>
              <p-tab value="0">
                <span class="font-bold whitespace-nowrap">Mô tả sản phẩm</span>
              </p-tab>
              <p-tab value="1">
                <span class="font-bold whitespace-nowrap">Đánh giá</span>
              </p-tab>
              <p-tab value="2">
                <span class="font-bold whitespace-nowrap">Bình luận</span>
                <p-badge value="2" />
              </p-tab>
              <ng-template #nexticon>
                <i class="pi pi-plus"></i>
              </ng-template>
            </p-tablist>
            <p-tabpanels>
              <p-tabpanel value="0">
                <p class="m-0">
                  {{ product?.description }}
                </p>
              </p-tabpanel>
              <p-tabpanel value="1">
                <div class="row d-flex align-items-center">
                  <div class="col-4 rating-average">
                    4,5
                  </div>
                  <div class="col-8 rating-chart">
                    <div class="side">
                      <div class="text-warning">5★</div>
                    </div>
                    <div class="middle">
                      <div class="bar-container">
                        <div class="bar-5"></div>
                      </div>
                    </div>
                    <div class="side right">
                      <div>150</div>
                    </div>
                    <div class="side">
                      <div class="text-warning">4★</div>
                    </div>
                    <div class="middle">
                      <div class="bar-container">
                        <div class="bar-4"></div>
                      </div>
                    </div>
                    <div class="side right">
                      <div>63</div>
                    </div>
                    <div class="side">
                      <div class="text-warning">3★</div>
                    </div>
                    <div class="middle">
                      <div class="bar-container">
                        <div class="bar-3"></div>
                      </div>
                    </div>
                    <div class="side right">
                      <div>15</div>
                    </div>
                    <div class="side">
                      <div class="text-warning">2★</div>
                    </div>
                    <div class="middle">
                      <div class="bar-container">
                        <div class="bar-2"></div>
                      </div>
                    </div>
                    <div class="side right">
                      <div>6</div>
                    </div>
                    <div class="side">
                      <div class="text-warning">1★</div>
                    </div>
                    <div class="middle">
                      <div class="bar-container">
                        <div class="bar-1"></div>
                      </div>
                    </div>
                    <div class="side right">
                      <div>20</div>
                    </div>
                  </div>
                </div>
              </p-tabpanel>
              <p-tabpanel value="2">
                <section class="comment-section" *ngIf="comments$ | async as comments">
                  @for (comment of comments; track comment.id){
                    <div class="comment mb-2 mb-3" *ngIf="replies$ | async as replies">
                      <div class="avatar-line-vertical" *ngIf="comment.replyCount > 0"></div>
                      <div class="d-flex mb-2">
                        <div class="avatar-wrapper position-relative me-2">
                          <div class="avatar">
                            <img [src]="comment.userAvatarUrl" alt="avatar" class="rounded-circle" width="40" height="40" />
                          </div>
                          <div class="avatar-line"></div>
                        </div>
                        <div >
                          <div class="fw-bold"><a class="text-dark me-2"> {{comment.userName}} </a> <a class="reply" (click)="reply(comment.id, comment.userName)"><i class="bi bi-reply-fill"></i> Trả lời </a></div>
                          <div class="content">
                            {{comment.content}}
                          </div>
                          <div [style]="'font-size: 12px'">
                            <span class="fw-bold me-4"> {{comment.createdAt}} </span>
                            <span class="fw-bold">11 like</span>
                          </div>
                        </div>
                      </div>

                      <div class="fw-bold ms-5 mb-2" (click)="toggleReplies(comment.id)" [style]="'cursor: pointer'" *ngIf="comment.replyCount > 0">
                        {{ expandedComments[comment.id] ? 'Ẩn bớt bình luận' : 'Xem thêm ' + comment.replyCount + ' bình luận' }}
                      </div>
                      <div *ngIf="expandedComments[comment.id]">
                        @for (reply of replies; track reply.id){
                          @if(reply.parentCommentId === comment.id){
                            <div class="child-comment ms-5 mb-2">
                              <div class="dot-on-line"></div>
                              <div class="d-flex mb-2">
                                <div class="avatar-wrapper position-relative me-2">
                                  <div class="avatar">
                                    <span class="circle-dot"></span>
                                    <img [src]="reply.userAvatarUrl" alt="avatar" class="rounded-circle" width="40" height="40" />
                                  </div>
                                  <div class="avatar-line"></div>
                                </div>
                                <div >
                                  <div class="fw-bold"><a href="" class="text-dark me-2">{{reply.userName}}</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></div>
                                  <div class="content">{{reply.content}}</div>
                                  <div [style]="'font-size: 12px'">
                                    <span class="fw-bold me-4">{{reply.createdAt}}</span>
                                    <span class="fw-bold me-4">11 like</span>
                                    @if(comment.userId === '1'){
                                      <span class="fw-bold me-4">Xóa bình luận</span>
                                      <span class="fw-bold me-4">Sửa bình luận</span>
                                    }@else{
                                      <span class="fw-bold me-4">Báo cáo bình luận</span>
                                    }
                                  </div>
                                </div>
                              </div>
                            </div>
                          }
                        }
                      </div>
                    </div>
                  }
                </section>
                <div class="comment-form">
                  <input #replyInput placeholder="Nhập bình luận ở đây" [(ngModel)]="commentContent" (keydown)="handleKeyDown($event)">
                  <button type="button" (click)="postComment()">Gui</button>
                </div>
              </p-tabpanel>
            </p-tabpanels>
          </p-tabs>
        </div>
      </div>
    </div>

    <div class="card mt-5">
      <div class="fs-4 fw-bold m">Có thể bạn sẽ thích</div>
      <p-carousel [value]="product?.relatedProducts || []" [numVisible]="3" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
        <ng-template let-item #item>
          <div class="related-product d-flex row">
            <div class="image col-4">
              <img [src]="item.image" [alt]="'hinh' + item.image">
            </div>
            <div class="info col-8">
                <div class="fs-5 fw-bold">{{ item.name }}</div>
                <div><p-rating [ngModel]="item.evaluate" [stars]="5" /></div>
                <div class="pt-2 pb-2 text-danger"> {{ item.price }}</div>
                <div class="button">
                  <button type="button" class="add-into-cart"><i class="pi pi-cart-plus"></i> Thêm sản phẩm vào giỏ</button>
                  <button type="button" ><i class="pi pi-info-circle"></i> Xem thông tin chi tiết </button>
                </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</main>
